# Required.
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
OWNER_ADDRESS=
TOKEN_ADDRESS=
VAULT_ADDRESS=

WEB_PORT=3000
API_PORT=3001
APP_ORIGIN=http://localhost:3000
API_HOST=localhost
PUBLIC_API_URL=http://localhost:3001

# Optional.
# DATA_DIRECTORY=
# CREDENTIALS_DIRECTORY=
